@{
    ViewData["Title"] = "New User";
}
@model User;

<div class="form">
    <h3>Enter your information</h3>
    <form asp-action="ProccessInfo" asp-controller="User" method="POST">
        <div class="fn">
            <label asp-for = "FirstName"></label><br>
            <input asp-for = "FirstName"><br>
            <span class="text-danger" asp-validation-for = "FirstName"></span>
        </div>
        <div class="ln">
            <label asp-for = "LastName"></label><br>
            <input asp-for = "LastName"><br>
            <span class="text-danger" asp-validation-for = "LastName"></span>
        </div>
        <div class="age">
            <label  asp-for = "Age"></label><br>
            <input asp-for = "Age"><br>
            <span class="text-danger" asp-validation-for = "Age"></span>
        </div>
        <div class="email">
            <label asp-for = "Email"></label><br>
            <input asp-for = "Email"><br>
            <span class="text-danger" asp-validation-for = "Email"></span>
        </div>
        <div class="pass">
            <label asp-for = "Password"></label><br>
            <input asp-for = "Password"><br>
            <span class="text-danger" asp-validation-for = "Password"></span>
        </div><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

