@model Wedding

<nav>
    <h2>Welcome to The Wedding Planner</h2> <div> <a href="/dashboard">Dashboard</a> <span> | </span> <a href="/logout">Logout</a> </div> 
</nav>

<div class="form mt-5">
    <form asp-action="CreateWedding" asp-controller="Wedding" method="POST" >

        <div class="input">
            <span asp-validation-for="WedderOne" class="text-danger" ></span><br>
            <label asp-for="WedderOne" ></label>
            <input asp-for="WedderOne" class="form-control">
        </div>    
        <div class="input">
            <span asp-validation-for="WedderTwo" class="text-danger" ></span><br>
            <label asp-for="WedderTwo" ></label>
            <input asp-for="WedderTwo" class="form-control">
        </div>    
        <div class="input">
            <span asp-validation-for="Date" class="text-danger" ></span><br>
            <label asp-for="Date" ></label>
            <input asp-for="Date" class="form-control">
        </div>    
        <div class="input">
            <span asp-validation-for="WeddingAddress" class="text-danger" ></span><br>
            <label asp-for="WeddingAddress" ></label>
            <input asp-for="WeddingAddress" class="form-control">
        </div>    
        
        <button class="btn btn-info sign">Create</button>

    </form>
</div>