@{
    ViewData["Title"] = "LogIn/Registration";
}

<div class="logReg">
    <div class="reg">
        <partial name="RegPartial" />
    </div>
    <div class="login">
        <partial name="LogInPartial" />
    </div>
</div>