<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Contact</title>
</head>
<body>
    <div class="main">
        <div class="header">
            <a href="/">Home</a> | <a href="/projects"> Projects</a> | Contact
        </div>
        <div class="form">
            <h4>Contact Me!</h4>
            <form action="/">
                <label>Name:</label>
                <input type="text"><br><br>
                <label>Email:</label>
                <input type="email"><br><br>
                <label>Message</label><br>
                <textarea name="" id="" cols="30" rows="10"></textarea><br>
                <button> Send</button>
            </form>
        </div>
    </div>
</body>
</html>