<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Projects</title>
</head>
<body>
    <div class="main">
        <div class="header">
            <a href="/">Home</a> |  Projects | <a href="/contact"> Contact</a>
        </div>

        <div class="ProjMain">
            <h4>Here are some projects of mine!</h4>
            <div class="lis">
                <div class="lisItem">
                    <div class="proj-img">
                        <img src="~/imgs/13.jpeg">
                    </div>
                    <div class="info">
                        <h9>My Project for photo</h9>
                    </div>
                </div>

                <div class="lisItem">
                    <div class="proj-img">
                        <img src="~/imgs/14.jpeg">
                    </div>
                    <div class="info">
                        <h9>My Project for help the poor </h9>
                    </div>
                </div>

                <div class="lisItem">
                    <div class="proj-img">
                        <img src="~/imgs/15.jpeg">
                    </div>
                    <div class="info">
                        <h9>My Project forfood</h9>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>