@model LoginUser
<h3>Register</h3>

<div class="wrapper">
    <form asp-action="UserLogin" asp-controller="Home" method="POST" >

        <div class="input">
            <span asp-validation-for="Email" class="text-danger" ></span><br>
            <label asp-for="Email" ></label>
            <input asp-for="Email" class="form-control">
        </div>    
        <div class="input">
            <span asp-validation-for="Password" class="text-danger" ></span><br>
            <label asp-for="Password" ></label>
            <input asp-for="Password" class="form-control">
        </div>    
        
        <button class="btn btn-primary sign">Sign in</button>

    </form>
    <a href="/" class="link" >Need to Register?</a>
</div>
