<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>A Web Page!</title>
        <link rel="stylesheet" href="~/css/style.css">
    </head>
    <body>
        <header class="">
            <a href="/">Home</a> <span>   |   </span>
            <a href="/projects">Projects</a> <span>   |   </span>
            <a href="/contact">Contact</a>
        </header>
        <h1 class="center">Contact Me!</h1>
        <form action="">
            <diV class="display">
                <div>
                    <label>Name:</label>
                    <input type="text" />
                    <br>
                    <label>Email:</label>
                    <input type="text" />
                </div>
                <div>
                    <label>Message:</label>
                    <br>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
            </diV>
            <button type="submit">Send</button>
        </form>
    </body>
</html>


@* dotnet new Layout -o Views *@
