<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>A Web Page!</title>
        <link rel="stylesheet" href="~/css/style.css">
    </head>
    <body>
        <header class="">
            <a href="/">Home</a> <span>   |   </span>
            <a href="/projects">Projects</a> <span>   |   </span>
            <a href="/contact">Contact</a>
        </header>
        <h1 class="center">Here are some projects of mine!</h1>
        <div class="container">
            <div class="inline">
                <img class="imgSmall" src="~/image/crispy Asian.jpg" alt="pic">
                <span style="padding-left: 40px;">
                    <h3>Crispy Asian</h3>
                    <p>Lorem ipsum doloroloribus accusamus pariatur velit.</p>
                </span>
            </div>
            <div class="inline">
                <img class="imgSmall" src="~/image/cookies.jpg" alt="pic">
                <span style="padding-left: 40px;">
                    <h3>cookies</h3>
                    <p>Lorem ipsum doloroloribus accusamus pariatur velit.</p>
                </span>
            </div>
            <div class="inline">
                <img class="imgSmall" src="~/image/pasta.jpg" alt="pic">
                <span style="padding-left: 40px;">
                    <h3>pasta</h3>
                    <p>Lorem ipsum doloroloribus accusamus pariatur velit.</p>
                </span>
            </div>
            <div class="inline">
                <img class="imgSmall" src="~/image/food.jpg" alt="pic">
                <span style="padding-left: 40px;">
                    <h3>food</h3>
                    <p>Lorem ipsum doloroloribus accusamus pariatur velit.</p>
                </span>
            </div>
        </div>


    </body>
</html>