@{
    ViewData["Title"] = "Form";
}

<form action="formSubmit" method="POST">
    <label>Text: </label>
    <input type="text" name="TextField">
    <label>Number: </label>
    <input type="number" name="NumberField">
    <button type="submit">Submit</button>
</form>