@model User

<div style="color: black;">
    <div style="display: flex; flex-direction: row; justify-content: space-between; font-size: 20px;">
        <h2>Register to this cool website</h2>
        <a href="/login">Login</a>
    </div>
    <form asp-action="RegisterForm" asp-controller="Home" method="POST">
        <div style="width: 500px; height: auto; display: flex; flex-direction: row; justify-content: space-between;">
            <div>
                <div>
                    <p><span class="text-danger" asp-validation-for="FirstName"></span></p>
                    <label asp-for="FirstName"></label>
                    <input type="text" asp-for="FirstName">
                </div>
                <div>
                    <p><span class="text-danger" asp-validation-for="LastName"></span></p>
                    <label asp-for="LastName"></label>
                    <input type="text" asp-for="LastName">
                </div>
                <div>
                    <p><span class="text-danger" asp-validation-for="Email"></span></p>
                    <label asp-for="Email"></label>
                    <input type="email" asp-for="Email">
                </div>
            </div>
            <div style="margin-left: 40px;">
                <div>
                    <p><span class="text-danger" asp-validation-for="Password"></span></p>
                    <label asp-for="Password"></label>
                    <br>
                    <input type="password" asp-for="Password">
                </div>
                <div>
                    <p><span class="text-danger" asp-validation-for="Confirm"></span></p>
                    <label asp-for="Confirm"></label>
                    <input type="password" asp-for="Confirm">
                </div>
            </div>
        </div>
        <input class="btn btn-success" style="margin-top: 20px;" type="submit" value="Sing Up Now">
    </form>
</div>