@{
    ViewData["Title"] = "Success";
}

<div>
    <a href="/logout" style="margin-left: 1000px;">Logout</a>
    <h1 style="color: green;font-size: 50px; margin: 0 auto; padding-top:150px; text-align: center;">Success</h1>
</div>