.FormMain form{
    padding:15px;
    margin:auto;
    width: 500px;
    border: solid black 1px;
    text-align: center;
    margin-top: 10px;
}

h4{
    text-decoration: underline;
}
button {
    margin-top: 10px;
}